html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
.pics {
    width: 300px;
    height: 400px;
    border: 5px solid #3882F6;
    border-radius: 15px;

}
.row1,.row2,.row3,.row4{
    display: flex;
    flex-direction: column;
    
}
.row1{
    background-color: #1f2937;
}

.row2 {
    align-items: center;
    gap: 18px;
    padding: 48px;
    font-size: 36px;
    font-weight: bolder;
}
.image_gallery{
    display: flex;
    gap: 58px;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #e5e7eb;
    padding-top: 18px;
}
.logo{
    margin: 0;
    font-size: 24px;
    
    font-weight: 900;
}
.logo_image {
    border: .5px solid #3882F6;
    border-radius: 15px;
    padding: .5px;
}
 ul{
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    
 }
 .awesome{
    display: flex;
    justify-content: center;
    display: flex;
    color: #e5e7eb;
    margin-top: 68px;
    margin-bottom: 68px;

 }

 .tittle {
    width: 400px;
    font-weight: bolder;
    margin-bottom: 0;
    
 }
 
 .subtext{
    font-size: 18px ;
    color: #E5E7EB;
    font-weight: lighter;
    margin-top: 0px;
 }
 .button1{
    border-radius: 15px;
    background-color: #3882F6;
    padding: 12px 38px;
    font-size: 18px;
    border: #3882F6;
    color:#E5E7EB ;
    font-weight: bold;
    margin-top: 5px;
    
 }

 .button1:hover{
    cursor: pointer;
    background-color: #5591f1;
 }
 .pup1 {
    align-self: center;
 }
.main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 0;
}